.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(24px);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(18px);
}
